target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Derrick
.derrick_application_conf

### wildfly
wildfly-servlet-10.1.0.Final/standalone/data/content
wildfly-servlet-10.1.0.Final/standalone/tmp/
wildfly-servlet-10.1.0.Final/standalone/configuration/standalone_xml_history

